<h2>Search Books</h2>
<form class="" action="/books" method="get">
  <div class="">
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
  </div>
  <div class="">
    <label>Published After</label>
    <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
  </div>
  <div class="">
    <label>Published Before</label>
    <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
  </div>

  <button type="submit">Search</button>
</form>

<div class="">
    <% books.forEach(book => { %>
      <a href="/books/<%= book._id %>">
      <img height="150" width="100" src="<%= book.coverImagePath %>">
      </a>
    <% }); %>
</div>
