<h2><%= book.title %></h2>
<img height="150" width="100" src="<%= book.coverImagePath %>">
<div class="">
  Author:  <%= book.author.name %>
</div>
<div class="">
  Publish Date: <%= book.publishDate.toDateString() %>
</div>
<div class="">
  Page Count: <%= book.pageCount %>
</div>
<div class="">
  Description: <%= book.description %>
</div>
<a href="/books/<%= book._id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/books/${book._id}`}) %>
<a href="/authors/<%= book.author._id %>">View Author</a>
