<h2>Search Authors</h2>
<form class="" action="/authors" method="get">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">Search</button>
</form>

<br>
<% authors.forEach(author => { %>
  <div class="">
    <%= author.name %>
  </div>
  <a href="/authors/<%= author._id %>">view</a>
  <a href="/authors/<%= author._id %>/edit">edit</a>
  <%- include('../partials/deleteForm', {url: `/authors/${author._id}`}) %>

<% }); %>
